<template>
  <v-app dark>

    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >

      <v-toolbar-title v-text="title" />
      <v-btn class="ml-10" :to="'/'">Home</v-btn>
      <v-spacer />
      <div v-if="! $auth.loggedIn">
        <v-btn :to="'/login'">Login</v-btn> <v-btn :to="'/register'">Register</v-btn>
      </div>
      <div v-else-if="$auth.loggedIn && $auth.user">
        Welcome, {{ $auth.user.name }}
      </div>
      <v-btn
        v-if="$auth.loggedIn"
        icon
        @click.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container fluid class="fill-height">
        <Nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer
      v-if="$auth.loggedIn"
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click="logout">
          <v-list-item-action>
            <v-icon light>
              mdi-exit-to-app
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Logout</v-list-item-title>
        </v-list-item>
        <v-list-item :to="'/advertisements'">
          <v-list-item-action>
            <v-icon light>
              mdi-archive
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Create advertisement</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :absolute="!fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Доска объявлений'
    }
  },
  methods: {
    async logout() {
      await this.$auth.logout().catch();
      this.rightDrawer = false;
      this.$router.push('/')
    }
  },
}
</script>
