<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="logo py-4 d-flex justify-center flex-column">
        <v-alert
          v-if="errorMessage"
          border="top"
          color="red lighten-2 ma-5"
          dark
          v-html="errorMessage"
        >

        </v-alert>
        <v-alert v-else-if="successMessage"
                 border="top"
                 color="success ma-5"
                 dark
                 v-html="successMessage">

        </v-alert>
        <v-form
          class="w-100 pa-5"
          ref="form"
          v-model="valid"
          lazy-validation
        >

          <v-text-field
            v-model="name"
            :rules="nameRules"
            label="Name"
            required
          ></v-text-field>

          <v-file-input
            v-model="photo"
            accept="image/*"
            label="Photo"
            :rules="photoRules"
            required
          ></v-file-input>

          <v-btn
            :disabled="!valid"
            color="success"
            @click="create"
          >
            create
          </v-btn>
        </v-form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Advertisement",
  middleware: 'auth',
  data: () => ({
    valid: true,
    name: '',
    nameRules: [
      v => !!v || 'name is required',
    ],
    photoRules: [
      v => !!v || 'photo is required',
    ],
    photo: null,
    errorMessage: null,
    successMessage: null,
  }),
  computed: {
    loggedIn() {
      return this.$auth.loggedIn;
    }
  },
  methods: {
    async create() {
      this.errorMessage = null;
      this.successMessage = null
      if (this.$refs.form.validate()) {

        try {
          var formData = new FormData();
          formData.append("photo", this.photo);
          formData.append("name", this.name);
          let response = await this.$axios.post('/advertisements', formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          this.successMessage = 'Successfully created';
        } catch (err) {
          if (err.response.data.data) {
            this.errorMessage = err.response.data.data.join('<br>')
          } else if (err.response.data.message) {
            this.errorMessage = err.response.data.message;
          }
        }
      }
    },
  },
}
</script>

<style scoped>

</style>
