<template>
  <v-row class="h-100" align="center">
    <v-col class="h-100" cols="12">
      <v-card class="d-flex flex-column h-100 logo pa-4 w-100" style="height: auto;min-height: 100%; display: flex;justify-content: space-between;">
        <div class="h-100 d-flex w-100" style="gap: 20px; flex-wrap: wrap">
          <v-card
            v-for="(advertisement, index) in advertisements"
            v-if="advertisement"
            class="mx-auto"
            :key="index"
            height="300px"
            style="margin: 0 !important;"
          >
            <v-img
              :src="advertisement.photo_url"
              height="200px"
              width="344px"
            ></v-img>

            <v-card-title>
              {{ advertisement.name }}
            </v-card-title>

            <v-card-subtitle>
              author: {{ advertisement.author_name }}
            </v-card-subtitle>
          </v-card>
        </div>
        <div class="text-center"style="margin-top: 20px;;">
          <v-pagination
            v-model="page"
            :length="paginationLength"
          ></v-pagination>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      advertisements: [],
      page: 1,
      paginationLength: 0
    }
  },
  watch: {
    page() {
      this.getAdvertisements();
    }
  },
  methods: {
    getAdvertisements() {
      this.$axios.get('advertisements', {
        params: {
          page: this.page
        }
      }).then((response) => {
        this.advertisements = response.data.data
        this.paginationLength = response.data.meta.last_page
      })
    }
  },
  mounted() {
    this.getAdvertisements();
  }
}
</script>
