<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="logo py-4 d-flex justify-center flex-column">
        <v-alert
          v-if="errorMessage"
          border="top"
          color="red lighten-2 ma-5"
          dark
          v-html="errorMessage"
        >

        </v-alert>
        <v-form
          class="w-100 pa-5"
          ref="form"
          v-model="valid"
          lazy-validation
        >

          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required
          ></v-text-field>

          <v-text-field
            v-model="password"
            :rules="passwordRules"
            label="Password"
            required
            type="password"
          ></v-text-field>

          <v-btn
            :disabled="!valid"
            color="success"
            @click="login"
          >
            Login
          </v-btn>
        </v-form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "login",
  middleware: 'auth',
  auth : 'guest',
  data: () => ({
    valid: true,
    password: '',
    passwordRules: [
      v => !!v || 'Password is required',
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    errorMessage: null
  }),
  computed: {
    loggedIn() {
      return this.$auth.loggedIn;
    }
  },
  methods: {
    async login() {
      this.errorMessage = null;
      if (this.$refs.form.validate()) {
        try {
          let response = await this.$auth.loginWith('local', {
            data: {
              email: this.email,
              password: this.password
            }
          })
          this.$router.push('/')
        } catch (err) {
          if (err.response.data.data) {
            this.errorMessage = err.response.data.data.join('<br>')
          } else if (err.response.data.message) {
            this.errorMessage = err.response.data.message;
          }
        }
      }
    },
  },
}
</script>

<style scoped>

</style>
